body {
  font-family: 'Fira Sans';
  font-size: 18px;
  line-height: 28px;
  padding: 78px 0 48px;
}

h1,
h2 {
  margin: 0;
  line-height: normal;
}

a {
  text-decoration: none;
  color: #4937d2;
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

a:hover {
  color: #9b91e6;
  transition: none;
}

hr {
  height: 1px;
  border: none;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.header .container,
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/*
 * Кнопки
 */

.button {
  cursor: pointer;
  appearance: none;
  box-sizing: border-box;
  display: inline-block;
  height: 40px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  padding: 7px 24px;
  line-height: normal;
  font-size: 18px;
  font-family: 'Fira Sans';
  font-weight: normal;
  transition-property: color, background-color, border-color;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

.button:hover {
  transition: none;
}

/* Фиолетовые кнопки */

.button_purple {
  color: #4937d2;
  border-color: #4937d2;
  background-color: #4937d2;
}

.button_purple:hover {
  color: #7466d8;
  border-color: #7466d8;
  background-color: #6655e7;
}

.button_purple:hover.button_solid {
  border-color: #6655e7;
}

/* Зелёные кнопки */

.button_green {
  color: #528e5c;
  border-color: #528e5c;
  background-color: #528e5c;
}

.button_green:hover {
  color: #75b380;
  border-color: #75b380;
  background-color: #6bae76;
}

.button_green:hover.button_solid {
  border-color: #6bae76;
}

/* Красные кнопки */

.button_red {
  color: #b54343;
  border-color: #b54343;
  background-color: #b54343;
}

.button_red:hover {
  color: #d16b6b;
  border-color: #d16b6b;
  background-color: #cc6464;
}

.button_red:hover.button_solid {
  border-color: #cc6464;
}

/* Белые кнопки (под которыми есть цветной фон) */

.button_white {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #ffffff;
}

.button_white:hover {
  color: rgba(255, 255, 255, .66);
  border-color: rgba(255, 255, 255, .66);
  background-color: rgba(255, 255, 255, .66);
}

.button_solid {
  color: #ffffff;
}

.button_solid:hover {
  color: #ffffff;
}

.button_outline {
  background: none;
}

.button_outline:hover {
  background: none;
}

/*
 * Текст
 */

.h {
  font-family: 'Dela Gothic One';
  font-size: 36px;
  line-height: normal;
  letter-spacing: 0.02em;
  margin-top: 32px;
  margin-bottom: 16px;
}

.h_big-margin-top {
  margin-top: 64px;
}

.h_button {
  display: flex;
}

.h_button .button {
  margin-left: 32px;
  margin-top: 11px;
  letter-spacing: normal;
}

p,
ul {
  width: 667px;
  margin-bottom: 16px;
  padding: 0;
}

p:last-child {
  margin-bottom: 0;
}

.right {
  text-align: right;
}

/*
 * Шапка
 */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 77px;
  border-bottom: 1px solid #b4b4b4;
  font-family: 'Dela Gothic One';
  font-size: 20px;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  z-index: 1;
}

.logo {
  box-sizing: border-box;
  display: flex;
  font-size: 24px;
  padding-top: 15px;
  height: 77px;
}

.logo__img {
  width: 50px;
  height: 40px;
}

.logo__text {
  line-height: normal;
  margin-top: 3px;
  margin-left: 8px;
}

.menu {
  display: flex;
  position: relative;
  left: 16px;
}

.menu__link {
  box-sizing: border-box;
  height: 77px;
  padding: 23px 16px 0;
}

a.menu__link:hover {
  color: #4937d2;
  background-color: #e4e1f8;
}

/*
 * Футер
 */

.footer {
  margin-top: 80px;
  padding-top: 14px;
  border-top: 1px solid #b4b4b4;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: flex;
  align-items: flex-start;
}

.footer__logo span {
  font-family: 'Dela Gothic One';
  font-size: 24px;
  line-height: normal;
  letter-spacing: 0.02em;
  color: #b4b4b4;
  margin-left: 6px;
}

.footer__sign {
  font-family: 'Dela Gothic One';
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #b4b4b4;
  display: block;
  margin-top: 10px;
}

.footer__sign a {
  color: #9b91e6;
}

.footer__sign a:hover {
  color: #aea6e9;
}

.footer__text {
  display: block;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 8px;
}

.footer__text-wrap {
  margin-top: 16px;
}

/*
 * Контакты
 */

.contacts {
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
}

.contacts__label {
  display: block;
  font-weight: bold;
  margin-bottom: 2px;
}

.contacts__value {
  display: block;
}

.map {
  border: 1px solid #b4b4b4;
  border-radius: 8px;
}

/*
 * Главная
 */

/* Первый этаж */

.first-floor {
  margin-top: 32px;
  height: 561px;
  background-image: url(img/laptop-bsod.jpg);
  background-repeat: no-repeat;
  background-position-x: right;
}

.first-floor h1 {
  font-family: 'Dela Gothic One';
  font-size: 62px;
  line-height: 74px;
  letter-spacing: 0.02em;
}

.first-floor span {
  display: block;
  margin-top: 16px;
  margin-bottom: 24px;
}

/* Этаж услуг */

.services-floor {
  background-color: #4937d2;
  margin-top: 32px;
  padding-top: 16px;
  padding-bottom: 40px;
  color: #ffffff;
}

.services-floor .h {
  margin-top: 0;
  margin-bottom: 0;
}

.services {
  margin-top: 40px;
}

.services:first-of-type {
  margin-top: 32px;
}

.services hr {
  background-color: rgba(255, 255, 255, .5);
  margin: 8px 0;
}

.services__header {
  font-size: 28px;
  font-weight: 300;
  margin: 0;
}

.services__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 24px;
}

.services__item {
  width: 280px;
}

.services__name {
  display: block;
  font-size: 20px;
  margin-bottom: 4px;
}

.services__price {
  display: block;
  font-size: 28px;
}

/* Этаж преимуществ */

.advantages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 24px;
}

.advantage {
  width: 280px;
}

.advantage__img {
  position: relative;
  display: block;
}

.advantage__img_diag {
  left: -33px;
}

.advantage__img_guarantee {
  left: -43px;
}

.advantage__img_parts {
  left: -31px;
}

.advantage__img_money {
  left: -31px;
}

.advantage__img_time {
  left: -38px;
}

.advantage__header {
  display: block;
  font-family: 'Dela Gothic One';
  font-size: 20px;
  line-height: normal;
  letter-spacing: 0.02em;
}

.advantage__text {
  display: block;
  margin-top: 4px;
}

/* Этаж вопросов */

.questions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 28px;
}

.question {
  width: 436px;
}

.question__header {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}

.question__text {
  display: block;
}

/* Этаж-полоска с кнопкой */

.stripe-floor {
  text-align: center;
  color: #ffffff;
  background-color: #4937d2;
  padding-top: 16px;
  padding-bottom: 24px;
  margin-top: 72px;
}

.stripe-floor span {
  display: block;
  margin-bottom: 8px;
}

/* 
 * Форма
 */

.form__buttons {
  margin-top: 48px;
}

.form__buttons .checkbox {
  margin-bottom: 16px;
}

.form__buttons button {
  display: inline-block;
}

.form__buttons button[type="reset"] {
  margin-left: 19px;
}

.label {
  display: block;
}

.label_disabled {
  color: #b4b4b4;
}

.label>span {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}

.label__caption {
  font-weight: 300 !important;
  margin-bottom: 0 !important;
  margin-top: 8px;
  font-size: 14px;
  line-height: normal;
  color: #333333;
}

input[type="text"],
textarea,
select {
  box-sizing: border-box;
  width: 222px;
  padding: 6px 12px;
  border: 1px solid #b4b4b4;
  border-radius: 8px;
  line-height: 28px;
}

textarea {
  width: 476px;
  min-height: 179px;
}

input[type="text"]::placeholder {
  color: #b4b4b4;
  opacity: 1;
}

input[type="text"]:disabled {
  color: #b4b4b4;
}

input[type="text"][name="address"] {
  width: 492px;
}

/* Селект */

select {
  appearance: none;
  background: url(icon/chevron-down.svg) no-repeat 97%;
  background-color: #fff;
  background-size: 32px 24px;
  padding-right: 48px;
  cursor: pointer;
}

/* Чекбокс */

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
  appearance: none;
  width: 24px;
  height: 24px;
  border: 1px solid #b4b4b4;
  border-radius: 6px;
  margin: 0 8px 0 0;
}

.checkmark {
  display: none;
  position: absolute;
  top: 1px;
  left: 4px;
}

input[type="checkbox"]:checked+.checkmark {
  display: block;
}

.checkbox-group {
  display: flex;
  justify-content: space-between;
}

/* Радиокнопки */

.radiobuttons {
  display: flex;
  border: 1px solid #b4b4b4;
  border-radius: 8px;
  box-sizing: border-box;
  height: 40px;
}

.radio input {
  position: absolute;
  opacity: 0;
}

.radio span {
  display: block;
  box-sizing: border-box;
  height: 40px;
  padding: 5px 12px 6px;
}

.radio input:checked+span {
  color: #4937d2;
  border: 2px solid #4937d2;
  border-radius: 8px;
  position: relative;
  padding: 4px 11px 5px;
}

.radio:first-child input:checked+span {
  top: -1px;
  left: -1px;
}

.radio:last-child input:checked+span {
  top: -1px;
  left: 1px;
}

/* Fieldset */

.fieldset {
  padding: 0;
  border: none;
  margin-top: 32px;
}

.fieldset:first-child {
  margin-top: 0;
}

.fieldset legend {
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
}

.fieldset hr {
  background-color: #d9d9d9;
  margin: 8px 0 16px;
}

.fieldset_personal .fieldset__content {
  display: flex;
  justify-content: space-between;
}

.fieldset_personal .checkbox {
  margin-top: 8px;
}

.fieldset_computer .fieldset__content {
  display: flex;
  column-gap: 32px;
}

.fieldset_problems .checkbox-group {
  margin-top: 24px;
}

.fieldset_problems .checkbox-group .checkbox {
  margin-bottom: 8px;
}

.fieldset_problems .checkbox-group .checkbox:last-child {
  margin-bottom: 0;
}

.fieldset_problems .checkbox-group .label > span {
  margin-bottom: 8px;
}